---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "home.scss";

.slide-background               {background-image:url(/assets/img/screenshot.png)}

.subtitleparagraph              {font-size:20px;color:#eff0f1; text-shadow:-2px 0 #4d4d4d, 0 2px #4d4d4d, 2px 0 #4d4d4d, 0 -2px #4d4d4d;font-weight:bold;min-width:100%}

pre.custom-dark, code.custom-dark { border:1px solid #333 !important; background:#111 !important; color:#e7e7e7 !important; }
pre { white-space:nowrap !important; }

#kDonateForm {
	padding:0;
	h3 { margin-top:10px; }
	input, button { border-radius:5px; transition:all ease-out .3s; }
	#donateSubmit { margin-left:10px; }
}

@media (prefers-color-scheme: light) {
	#kHeader                        {background-image:url(/assets/img/wallpaper-light.jpg)}
	.subtitleheader                 {font-size:30px;color:yellow; text-shadow:-3px 0 #4d4d4d, 0 3px #4d4d4d, 3px 0 #4d4d4d, 0 -3px #4d4d4d;font-weight:bold;min-width:100%}
	a.nav-link.active               {font-weight:bold}
	.content                        {background-color:#E9F4F4}
	.announcement-feed {
		h3 { color:#54a3d8 !important }
		>div a:hover::before { background-color:rgba(150,150,150,.2); border-color:rgba(0,0,0,.3); }
	}
	#kFooterIncome, #kDonateForm { background:none !important; border:none; box-shadow:none; }
	#kDonateForm {
		input, button { border:1px solid #555 !important; background:#e7e7e7; color:#111 }
		#donateSubmit:hover, input:hover, input:focus { background:#e7e7e7; border-color:#3daefd !important; outline:none; }
	}
}

@media (prefers-color-scheme: dark) {
	#kHeader                        {background-image:url(/assets/img/wallpaper-dark.jpg)}
	.subtitleheader                 {font-size:30px;color:yellow!important; text-shadow:-3px 0 #4d4d4d, 0 3px #4d4d4d, 3px 0 #4d4d4d, 0 -3px #4d4d4d;font-weight:bold;min-width:100%}
	a.app-logo.navbar-brand.active  {background-color:#232629}
	a.nav-link.active               {background-color:#4d4d4d!important}
	hr                              {border-color:#7f8c8d}
	.announcement-feed {
		h3 { color:#7daee9 !important }
		>div a:hover::before { background-color:rgba(150,150,150,.2); border-color:rgba(255,255,255,.3); }
	}
	#kFooterIncome, #kDonateForm { background:none !important; border:none; box-shadow:none; }
	#kDonateForm {
		input, button { border:1px solid #555 !important; background:#111; color:#e7e7e7 }
		#donateSubmit:hover, input:hover, input:focus { background:#111; border-color:#7daee9 !important; outline:none; }
	}
}

.announcement-feed {
	h3 { font-weight:bold; }
	>div {
		position:relative; margin-bottom:50px !important
		a { float:right; }
		a::after { content:'»'; display:inline-block; vertical-align:top; font-size:19px!important; line-height:20px; }
		a::before { content:''; position:absolute; z-index:1; left:-10px; top:-12px; padding:13px 9px; box-sizing:content-box !important; border-radius:5px; width:100%; height:100%; transition:all ease-out .3s; border:1px solid transparent }
	}
}

main { min-height:calc(100vh - 250px); }
main.markdown-output {
	div, h1, h2, h3, h4, h5, h6, ol, p, ul { max-width:none; }
}
